
body {background-color: #FFE3A9}

h1{color: black}

h3{color: darkblue}

p{color: black}

li{color: #1D5C63}

table{color: #383838}

hr {
  border-color: grey;
  border-width: 2px;
  border-style: none;
  border-bottom-style: dashed;
  width: 5%;
}

img {
  border-radius: 50%;
}
